.selectable {
    position: relative;
}

div.selectable::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 87, 34, 0.3); /* Полупрозрачный оранжевый */
    display: none;
    pointer-events: none; /* Чтобы не блокировал клики */
}

div.selectable.highlighted::after {
    display: block;
}
